<div class="row server-container no-gutters">
  <div class="col col-12 col-sm-12 col-md-3 bg-empty">
    <div class="d-flex justify-content-around align-items-center mb-5">
      <button class="btn btn-link">
        <i class="fa fa-plus-circle h1 text-white"></i>
        <p class="h6 text-white"><small>Novo servidor</small></p>
      </button>
      <button class="btn btn-link">
        <i class="fa fa-minus-circle h1 text-secondary"></i>
        <p class="h6 text-secondary"><small>Destruir</small></p>
      </button>
    </div>
    <div class="pl-3">
      <h6 class="text-secondary"><small>Apps Disponíveis</small></h6>
    </div>
    <ul class="list-group rounded-0 bg-primary">
      <li class="list-group-item bg-primary menu-item-hadoop bold">
        Cras justo odio
        <div class="d-flex justify-content-around align-items-center position-absolute">
          <button class="btn btn-link btn-sm">
            <i class="fa fa-minus-circle h5 mb-0 text-secondary"></i>
          </button>
          <button class="btn btn-link btn-sm">
            <i class="fa fa-plus-circle h5 mb-0 text-hadoop"></i>
          </button>
        </div>
      </li>
      <li class="list-group-item bg-primary">Dapibus ac facilisis in</li>
      <li class="list-group-item bg-primary">Morbi leo risus</li>
      <li class="list-group-item bg-primary">Porta ac consectetur ac</li>
      <li class="list-group-item bg-primary">Vestibulum at eros</li>
    </ul>
  </div>
  <div class="col col-12 col-sm-12 col-md-9 p-3">
    <h3>Quadro de Servidores</h3>
    <div class="row justify-content-start justify-content-center align-items-center flex-wrap flex-row">
      <div class="col col-10 col-sm-6 col-md-3 mt-4">
        <div class="card bg-empty"></div>
      </div>
      <div class="col col-10 col-sm-6 col-md-3 mt-4">
        <div class="card bg-empty"></div>
      </div>
      <div class="col col-10 col-sm-6 col-md-3 mt-4">
        <div class="card bg-empty"></div>
      </div>
      <div class="col col-10 col-sm-6 col-md-3 mt-4">
        <div class="card bg-empty"></div>
      </div>
      <div class="col col-10 col-sm-6 col-md-3 mt-4">
        <div class="card bg-empty"></div>
      </div>
    </div>
  </div>
</div>